*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color:gold;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:black
}

.logo{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
}

ul{
    list-style-type: none;
    display: flex;
}

ul > li {
    padding-top: 20px;
    padding-left: 26px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 600;
    height: 80px;
}

ul > li:hover{
    background-color:antiquewhite;
    font-size: 26px;
    cursor: pointer;
}

.hero{
    width: 100vw;
    height: 400px;
    background-image: url(pexels);
    background-size: 600px;
    font-display: flex;
    justify-content: center;
    align-items: center;
}

.textodestaque{
    font-size: 40px;
    color:white;
    font-weight: 600;
    text-shadow: 3px 3px black;
}

main{
    width: 100vw;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.linha{
    width: 80vw;
    height: 5px;
    background-color: brown;
    margin: 20px 0 
}

main > h1{
    font-size: 40px;
    color:black
}

main > p{
    font-style: 30px;
}

.cards {
    width: 100vw;
    margin: 30px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card{
    width: 300px;
}

.cards img {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.cards img:hover{
    opacity: 0.7;
}

.cardinfo {
    width: 300px;
    height: 200px;
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -5px;
    align-items: center;
}

.cardnome {
    color:white;
    font-size: 20px;
    font-weight: 30px;
    padding-bottom: 30px;
}

.cardpreco {
    background-color: yellow;
    width: 250px;
    font-size: 30px;
    font-weight: 600;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
}

.botao{
    background-color: blue;
    border-radius: 20px;
    padding: 20px;
    }

    a:link, a:visited{
        color: white;
        text-decoration: none;
        font-size: 30px;
        font-weight: 600;
        transition: 1s;
    }

    a:hover{
        background-color:blueviolet
    }

    footer{
        background-color: red;
        color: white;
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    footer address{
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 2px;
    }

    footer ul li {
        text-transform: uppercase;
        transition: 1s;
    }

    footer ul li:hover{
        background-color: darkgreen;
        
    }